# Ne commitez jamais ces fichiers sensibles
firebase-service-account.json
**/firebase-service-account.json

# Variables d'environnement
.env
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dépendances
node_modules/

# Build
dist/
build/
