VITE_API_URL=http://localhost:3000/api

# Config Firebase Web App (projet fir-7bee4)
VITE_FIREBASE_API_KEY=AIzaSyC1aDFqnEYLkHZASZp3j7CQ9I85RHCGMto
VITE_FIREBASE_AUTH_DOMAIN=fir-7bee4.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fir-7bee4
VITE_FIREBASE_STORAGE_BUCKET=fir-7bee4.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=686166809659
VITE_FIREBASE_APP_ID=1:686166809659:web:a438a5ee5cd65e1bf0501e
VITE_TILE_URL=http://localhost:8080/tile/{z}/{x}/{y}.png
